@use '/src/sass/abstract/colors' as *;

.basket-button {
  position: fixed;
  top: 0rem;
  right: 0rem;
  z-index: 9999;
  cursor: pointer;

  border: none;
  outline: none;
  background: rgba($red, 0.8);

  width: 70px;
  height: 80px;
  border-radius: 0 0 1rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #fff;
  text-align: center;
  box-shadow: 0 4px 6px rgba(#000, 0.15);

  &__icon {
    width: 24px;
    height: 24px;
    margin-bottom: 0.25rem;
  }

  &__label {
    font-size: 0.9rem;
    line-height: 1.2;
  }
}
