@use '/src/sass/abstract/colors' as *;
@use '/src/sass/abstract/mixins' as *;
@use '/src/sass/abstract/typography' as *;

.section-reorder {
  background: $red;
  color: $white-elements;

  .section-header {
    margin-left: 1rem;

    h1 {
      @include font('section-title', 'bold');
      margin-bottom: 0.3rem;
      margin-top: 1rem;
    }

    p {
      @include font('section-description', 'regular');
      margin: 0;
    }
  }
  
.reorder-empty-msg {
      @include font('section-description', 'regular');
      font-weight: bold;
      margin-top: 0.5rem;
      margin-left: 1rem;
      margin-bottom: 2rem;
}

}

