@use '/src/sass/abstract/colors' as *;
@use '/src/sass/abstract/typography' as *;
@use '/src/sass/abstract/mixins' as *;

.section-two {
  background: $black-main;
  color: $white-elements;
  

  h1 {
    @include font('section-title', 'bold');
    margin: 1rem;
  }

  p {
    @include font('section-description', 'regular');
  }
}
