@use '@/sass/abstract/colors' as colors;
@use '@/sass/abstract/typography' as typography;
@use '@/sass/abstract/mixins' as mixins;

.wrapper {
  padding: 1rem;
}

.header {
  @include mixins.font('section-title', 'bold');
  color: colors.$black-main;
  margin-bottom: 0.5rem;
}

.intro {
  @include mixins.font('section-description');
  color: colors.$black-main;
  margin-bottom: 1rem;
}

.divider {
  border-color: rgba(colors.$grey-background-elements, 0.3);
  margin: 0.75rem 0;
}

.group {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;

  &__icon {
    margin-right: 0.75rem;
    color: colors.$red;
    flex-shrink: 0;
    background-color: none;
  }

  &__content {
    flex: 1;
  }

  &__title {
    @include mixins.font('section-description', 'bold');
    color: colors.$black-main;
    margin-bottom: 0.25rem;
  }

  &__text {
    @include mixins.font('section-description');
    color: colors.$light-grey;
    margin-bottom: 0.25rem;
    line-height: 1.4;

    a {
      color: colors.$black-main;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer {
  padding-bottom: 2.7rem;
  @include mixins.font('section-description');
  color: colors.$light-grey;

  a {
    color: colors.$magenta;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
