@use '@/sass/abstract/colors' as colors;
@use '@/sass/abstract/typography' as typography;
@use '@/sass/abstract/mixins' as mixin;

.filterDrawer {
  :global(.mantine-Drawer-header) {
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
  }

  :global(.mantine-Drawer-body) {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: colors.$white-elements;
  }

  .filterBody {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .filterScroll {
    flex: 1;
    overflow: auto;
    padding: 1rem;
    margin-bottom: 0.5rem;

    .filterSection {
      margin-bottom: 1.5rem;

      :global(.mantine-Group-root) {
        --group-gap: 0.5rem !important;
      }
    }
  }

  .backHeader {
    margin: 1rem 0 0 1rem;
  }

  .filterSectionTitle {
    @include mixin.font('section-description', 'bold');
    color: colors.$black-main;
    margin: 0.5rem 0 0.7rem;
  }

  .filterChipGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  :global(.mantine-RangeSlider-root) {
    padding: 0 1rem;

    :global(.mantine-RangeSlider-bar) {
      background-color: colors.$magenta !important;
    }
    :global(.mantine-RangeSlider-track) {
      background-color: rgba(colors.$magenta, 0.2) !important;
    }
    :global(.mantine-RangeSlider-thumb) {
      background-color: colors.$magenta !important;
      border: 2px solid colors.$white-elements !important;
    }
  }

  .filterFooter {
    position: sticky;
    bottom: 0;
    z-index: 5;
    background: rgba(colors.$plain-black, 0.8);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    border-radius: 3rem 3rem 0 0;

    .filterApplyBtn {
      width: 10rem;
      height: 2.75rem;
      background-color: colors.$red;
      @include mixin.font('button', 'medium');
      border-radius: 15px;
      margin: 0;
      font-weight: bold;
    }
  }

  .filterSlider {
    width: 80%;
    margin: 1.5rem auto 1rem;
  }

  .filterFooter .filterApplyBtn img {
    filter: brightness(0) invert(1) !important;
  }
}
