@use 'sass:map';
@use '@/sass/abstract/colors' as *;
@use '@/sass/abstract/typography' as *;
@use '@/sass/abstract/mixins' as mixin;

.subcategories-page {
  background-color: $white-background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .header-wrapper {
    padding: 1rem;
    padding-bottom: 0;

    .header-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.75rem;

      .basket-button {
        flex-shrink: 0;
      }
    }

    h2 {
      @include mixin.font('section-title', 'bold');
      color: $black-main;
      margin: 0;
    }
  }

  .category-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 0;
  }
}
