@use '@/sass/abstract/colors' as colors;
@use '@/sass/abstract/typography' as typography;
@use '@/sass/abstract/mixins' as mixins;

:global {
  .productDetail {
    .detailHeaderButtons {
      position: absolute;
      top: 1rem;
      left: 1rem;
      right: 1rem;
      z-index: 10;
      display: flex;
      justify-content: space-between;
      align-items: center;
      pointer-events: none;

      .backIconButton,
      .basketButton {
        pointer-events: all;
      }
    }
  }
}
