@use '@/sass/abstract/colors' as colors;
@use '@/sass/abstract/typography' as typography;
@use '@/sass/abstract/mixins' as mixins;

:global(.mantine-Title-root) {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.4;
  @include mixins.font('section-title', 'bold');
  color: colors.$black-main;
}

:global {
  body {
    font-family: typography.$font-family;
  }

  .backIconButton {
    margin-top: 0;
  }

  .productDetail,
  .productDetail * {
    font-family: inherit !important;
  }

  .detailDescription,
  .detailDescription .mantine-Text-root {
    font-family: inherit !important;
  }

  .productDetail {
    position: relative;
    max-width: 30rem;
    background: colors.$white-background;
    padding-bottom: 7rem;
    color: colors.$grey-background-elements;
    min-height: 100dvh;
  }

  .toggleDescBtn {
    background: none;
    border: none;
    padding: 0;
    margin-top: 0.5rem;
    color: colors.$grey-background-elements;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
