@use 'sass:map';
@use '@/sass/abstract/colors' as *;
@use '@/sass/abstract/typography' as *;
@use '@/sass/abstract/mixins' as *;

.all-page {
  background-color: $white-background;
  padding: 1.2rem 1.5rem;
  font-family: $font-family;
  color: $black-main;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .search-wrapper {
    position: relative;
    width: 100%;
    margin-top: 0.5rem;

    .search-bar {
      width: 100%;
      padding-right: 4.5rem; //space from basket buttone
    }
  }

  h2 {
    font-size: map.get($font-sizes, 'section-title');
    font-weight: map.get($font-weights, 'bold');
    margin-bottom: 0.2rem;
  }

  .category-section {
    margin-bottom: 0.5rem;
  }

  .category-list {
    margin-top: 0.5rem;
  }
}
