@use '/src/sass/abstract/colors' as *;
@use '/src/sass/abstract/typography' as *;

.basket-page {
  padding: 1rem;
  padding-bottom: 7rem;
  background: $white-background;

  .basket-header {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    .back-icon-button{
      position: relative;
      margin-top: 0;
    }
  }

  .basket-card {
    display: flex;
    gap: 0.75rem;
    background: white;
    border-radius: 1.25rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    padding: 0.75rem;
    align-items: center;
    min-height: 100px;
  }

  .mantine-Image-root {
    width: 75px !important;
    height: 75px !important;
    border-radius: 0.75rem;
    object-fit: cover;
  }

  .basket-card__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .mantine-Group-root:first-child {
      margin-bottom: 0.25rem;
    }

    .mantine-Text-root {
      line-height: 1.2;
    }

    .mantine-Group-root:last-child {
      margin-top: 0.5rem;
    }
  }

  .basket-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 1.25rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: space-between;
    align-items: center;

    .basket-footer__left {
      display: flex;
      flex-direction: column;
    }
  }
}
