@use 'sass:color';
@use '/src/sass/abstract/colors' as *;
@use '/src/sass/abstract/typography' as *;
@use '/src/sass/abstract/mixins' as *;

.home-screen{
  margin-bottom: 65px; //navbar height
}

.home-screen,
.home-screen * {
  max-width: 100%;
  overflow-x: hidden;
}

.section-everyday,
.section-reorder,
.section-two,
.section-formal {
  padding: 0.5rem;

  .section-desc {
    margin-left: 1rem;
  }
}

.card-scroll-wrapper {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  gap: 1.5rem;
  padding-inline: 1.5rem;
  margin-block-start: 1.5rem;
  padding-block-end: 1rem;
  scroll-padding-inline: 1.5rem;
  touch-action: pan-y;

  &::-webkit-scrollbar {
    display: none;
  }

  > * {
    flex: 0 0 auto;
    scroll-snap-align: start;
    max-width: 15rem;
  }

  &.non-trending-wrapper > * {
    width: 15rem;
    height: 15rem;

    .mantine-Card-root {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}
