@use 'sass:color';
@use 'sass:map';
@use '/src/sass/abstract/colors' as *;
@use '/src/sass/abstract/typography' as *;
@use '/src/sass/abstract/mixins' as *;

.initial-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  padding: 2rem;
  text-align: center;

  h1 {
    @include font('top-title', 'bold');
    margin-block-end: 2rem;
  }

  .button-group {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-block-start: 1rem;
  }

  :is(.design-system-btn, .prototype-btn) {
    color: $white-elements;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease;
  }

  .design-system-btn {
    background-color: $magenta;

    &:hover {
      background-color: color.adjust($magenta, $lightness: 10%);
    }
  }

  .prototype-btn {
    background-color: $red;
    font-weight: map.get($font-weights, bold);

    &:hover {
      background-color: color.adjust($red, $lightness: -10%);
    }
  }

  @media (max-width: 37.5rem) {
    // 600px
    .button-group {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}
