@use 'sass:map';
@use '/src/sass/abstract/colors' as *;
@use '/src/sass/abstract/typography' as *;

body {
  background-color: $grey-background-elements;
}

.profile-page {
  background-color: $grey-background-elements;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 66px; // Room for navbar
  overflow-x: hidden;
  margin-top: 0;

  &__header {
    text-align: center;
    position: relative;
    overflow: hidden; // Prevent background image overflow

    &-name {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      font-size: map.get($font-sizes, 'top-title');
      color: $white-elements;
      z-index: 1;
      pointer-events: none;
    }

    &-shape {
      display: block;
      margin: 56px auto 0;
      width: 100%; // Ensure full width
      max-width: 100%;
      height: auto;
      pointer-events: none;
    }

    .edit-profile-btn {
      position: absolute;
      top: 16px;
      left: 16px;
      background: transparent;
      border: none;
      color: $white-elements;
      z-index: 2;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .profile-info {
    flex-grow: 1;
    overflow-y: auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .mantine-Avatar-root {
      position: absolute;
      top: -30%;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 100px;
      border: 3px solid $white-elements;
      border-radius: 50%;
      background-color: $grey-background-elements;
      z-index: 2;
    }

    .mantine-Title-root {
      width: 100%;
      text-align: left;
      margin-bottom: 8px;
      color: $white-elements !important;
    }

    .section-header {
      font-size: map.get($font-sizes, 'section-title') * 1.2;
      margin: 24px 0 12px;
      color: $white-elements;
    }

    .mantine-Button-root,
    .contact-support-link {
      align-self: flex-start;
      margin-left: 10%;
      margin-bottom: 12px;
      background: none !important;
      color: $white-elements !important;
      border: none;
      box-shadow: none;
      padding: 0;
    }
  }

  .divider {
    width: 80%;
    border-bottom: 1px solid $white-elements;
    margin: 0 0 16px;
  }

  .profile-page__header-bg {
    width: 100%;
    object-fit: cover;
    height: auto;
  }
}

.logout-button {
  color: red !important;

  .mantine-Button-label {
    color: red !important;
  }
}
