@use '@sass/abstract/colors' as *;
@use '@sass/abstract/typography' as *;
@use '@sass/abstract/mixins' as *;

.header {
  background-color: $grey-background-elements;
  color: $white-background;
}

.headerContent {
  display: flex;
  align-items: center;

  .back-header {
    display: flex;
    align-items: center;

    .mantine-Title-root {
      color: $white-background;
      margin-left: 0.5rem;
    }
  }
}

.drawer {
  background-color: $white-background!important;
  width: 100vw !important;
  max-width: 100vw !important;
}

.body {
  background-color: $white-background !important;
}
