@use '@sass/abstract/colors' as colors;
@use '@sass/abstract/typography' as typography;
@use '@sass/abstract/mixins' as mixins;

.header {
  background-color: colors.$grey-background-elements;
  color: colors.$white-background;
}

.headerContent {
  display: flex;
  align-items: center;

  .back-header {
    display: flex;
    align-items: center;

    .mantine-Title-root {
      color: colors.$white-background;
      margin-left: 0.5rem;
    }
  }
}
