@use '@/sass/abstract/colors' as colors;
@use '@/sass/abstract/typography' as typography;
@use '@/sass/abstract/mixins' as mixins;

.signupPage {
  background-color: colors.$white-background;
  padding: 1.2rem 1.5rem;
  font-family: typography.$font-family;
  color: colors.$black-main;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.backIconButton {
  margin-top: 0;
}

.signupPage h2 {
  @include mixins.font('section-title', 'bold');
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  color: colors.$black-main;
  line-height: 1.2;
}

.stepDescription {
  margin-bottom: 1rem;
}

.stepDescription p {
  @include mixins.font('section-description', 'regular');
  color: colors.$black-review;
  margin: 0;
  margin-top: 0.1rem;
  width: 100%;
}

.inputField :global(input) {
  border-radius: 12px;
  @include mixins.font('section-description', 'regular');
}

:global(.mantine-TextInput-root),
:global(.mantine-PasswordInput-root) {
  margin-bottom: 0.5rem;
}

:global(.mantine-Divider-root) {
  @include mixins.font('body', 'medium');
  color: colors.$grey-background-elements;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.mantine-Divider-label) {
  white-space: nowrap;
  font-size: 0.8rem;
  color: var(--mantine-color-dimmed);
}

.formWrapper {
  width: 100%;
}

.socialRegisterSection {
  margin-top: 1rem;
}

.socialDivider {
  margin-bottom: 1rem;
}

.socialButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.85rem;
  margin-bottom: 1rem;
}

.socialButtons button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  max-width: 400px;
}

.loginLink {
  text-align: center;
  margin-top: auto;
  @include mixins.font('icon-title', 'bold');
  line-height: 1.4;
}

.loginLink a {
  color: colors.$magenta;
  @include mixins.font('icon-title', 'bold');
  text-decoration: underline;
}

.signUpButton {
  margin: 1rem auto 0.1rem;
  display: block;
  max-width: 400px;
}

:global(button.mantine-Button-root.continue-with-facebook-icon-button),
:global(button.mantine-Button-root.continue-with-google-icon-button) {
  box-shadow: 0 4px 6px rgba(colors.$plain-black, 0.1);
}
