@use '@sass/abstract/colors' as colors;
@use '@sass/abstract/typography' as typography;
@use '@sass/abstract/mixins' as mixins;

.section {
  width: 100%;
  margin: 1.5rem 0;

  .heading {
    @include mixins.font('section-title', 'bold');
    color: colors.$white-elements;
    margin: 0 0 0.75rem;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
