@use '@/sass/abstract/colors' as colors;
@use '@/sass/abstract/typography' as typography;
@use '@/sass/abstract/mixins' as mixins;

.modalContent {
  background: colors.$white-background;
  border-radius: 8px;
  padding: 1.5rem;
}

.modalHeader {
  background: none !important;
  padding: 0;
  display: flex;
  justify-content: center;
}

.modalTitle {
  color: colors.$red;
  @include mixins.font('section-title', 'bold');
  font-size: 1.75rem;
  text-align: center;
  margin: 0;
  width: 100%;
}

.body {
  padding: 1rem 1.5rem;
  @include mixins.font('section-description');
  color: colors.$black-main;
}

.confirmButton {
  @include mixins.font('section-description', 'bold');
  background: colors.$red;
  color: colors.$white-elements;
  width: 100%;
  margin-top: 1rem;
  border-radius: 24px;
}
