@use '@sass/abstract/colors' as *;
@use '@sass/abstract/typography' as *;
@use '@sass/abstract/mixins' as *;

.item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem;
  border-bottom: 1px solid $white-elements;
  cursor: pointer;
}

.label {
  flex: 1;
  @include font('section-description');
  color: $white-elements;
}

.icon {
  color: $white-elements;
  font-size: 1.5rem;
  margin-left: auto;
}
