$red: #ac003e;
$red-heart: #d8004e;
$magenta: #aa1da4;
$green: #00ac70;
$grey-background-elements: #2d2d2d;
$light-grey: #828282;
$white-background: #f3eded;
$white-elements: #fbfbfb;
$plain-white: white;
$blue: #005bc3;
$black-review: #141414;
$black-main: #0b0b0b;
$plain-black: black;
$light-magenta: #ffdcfd;

.easy {
  color: $green !important;
}

.moderate {
  color: $blue !important;
}

.beginner {
  color: $magenta !important;
}

.expert,
.advanced {
  color: $red !important;
}

