@use 'sass:map';
@use '@/sass/abstract/colors' as colors;
@use '@/sass/abstract/typography' as typography;
@use '@/sass/abstract/mixins' as mixin;

.pill {
  @include mixin.font('text', 'regular');
  background: colors.$white-elements;
  border: 1px solid colors.$light-grey;
  border-radius: 9999px;
  padding: 0.25rem 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition:
    background 150ms,
    color 150ms,
    border-color 150ms;
  display: inline-block;
  color: colors.$black-main;

  transition:
    background 220ms ease,
    color 220ms ease,
    border-color 220ms ease,
    font-weight 220ms ease,
    transform 220ms ease;
}

.pillChecked {
  background: colors.$magenta;
  border-color: colors.$magenta;
  color: colors.$white-background;
  font-weight: map.get(typography.$font-weights, medium);
}
