@use '@/sass/abstract/colors' as *;
@use '@/sass/abstract/typography' as *;
@use '@/sass/abstract/mixins' as mixin;

.filter-drawer {
  .mantine-Drawer-header {
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
  }

  .mantine-Drawer-body {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: $white-elements;
  }

  .filter-body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .filter-scroll {
    flex: 1;
    overflow: auto;
    padding: 1rem;
    margin-bottom: 0.5rem;

    .filter-section {
      margin-bottom: 1.5rem;

      .mantine-Group-root {
        --group-gap: 0.5rem !important;
      }
    }
  }

  .back-header {
    display: flex;
    align-items: center;
    height: 3rem;
    padding: 0 1rem;
    margin: 1rem 0 0;

    .back-icon-button {
      background-color: $black-main;

      svg {
        color: white;
      }
    }

    h2 {
      @include mixin.font('section-title', 'bold');
      color: $black-main;
      margin: 0;
      line-height: 3rem;
    }
  }

  .filter-section-title {
    @include mixin.font('section-description', 'bold');
    color: $black-main;
    margin: 0.5rem 0 0.7rem;
  }

  .filter-chip-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .mantine-RangeSlider-root {
    padding: 0 1rem;

    .mantine-RangeSlider-bar {
      background-color: $magenta !important;
    }

    .mantine-RangeSlider-track {
      background-color: rgba($magenta, 0.2) !important;
    }

    .mantine-RangeSlider-thumb {
      background-color: $magenta !important;
      border: 2px solid $white-elements !important;
    }
  }

  .filter-footer {
    position: sticky;
    bottom: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    border-radius: 3rem 3rem 0 0;

    .filter-apply-btn {
      width: 10rem;
      height: 2.75rem;
      background-color: $red;
      @include mixin.font('button', 'medium');
      border-radius: 15px;
      margin: 0;
      font-weight: bold;
    }
  }

  .filter-slider {
    width: 80%;
    margin: 1.5rem auto 1rem;
  }

  .filter-footer .filter-apply-btn img {
    filter: brightness(0) invert(1) !important;
  }
}
