@use 'sass:map';
@use 'sass:color';
@use '@/sass/abstract/colors' as *;
@use '@/sass/abstract/typography' as t;
@use '@/sass/abstract/mixins' as mixin;

.subcategory-item {
  background-color: transparent;
  display: flex;
  flex-direction: column;

  .item-content {
    background-color: transparent;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.75rem 1rem;

    .circle-indicator {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      flex-shrink: 0;
      margin-right: 0.75rem;
    }

    p {
      @include mixin.font('category-title', 'bold');
      margin: 0;
      flex: 1;
      color: $black-main;
    }

    svg {
      flex-shrink: 0;
      color: $light-grey;
    }
  }

  &:hover > .item-content {
    background-color: color.adjust($white-background, $lightness: 3%);
  }

  // Divider styling identical to .all-category-item
  .mantine-Divider-root,
  .category-divider {
    margin: 0;
    margin-bottom: 14px;
    height: 1px;
    min-height: 1px;
     background-color: #bababa;
    width: 100%;
    border: none;
    display: block;
    flex-shrink: 0;
  }
}
