@use '@/sass/abstract/colors' as colors;
@use '@/sass/abstract/mixins' as mixins;

:global {
  .mantine-Modal-content {
    max-width: 350px !important;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem !important;
    margin: 0 auto;
    border-radius: 1.5rem !important;
    box-shadow:
      0 8px 48px 0 rgba(colors.$magenta, 0.13),
      0 2px 8px 0 rgba(colors.$plain-black, 0.09) !important;
    background: colors.$white-background !important;
  }
  .mantine-Modal-body {
    padding: 0 !important;
  }
  .mantine-Modal-title {
    @include mixins.font('section-title', 'bold');
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    pointer-events: none;
  }
  .mantine-Modal-title span {
    pointer-events: auto;
  }
  .mantine-Modal-header {
    background-color: colors.$white-background;
  }
}

.reviewHeader {
  align-items: center;
  margin-bottom: 0.5rem;

  .reviewLabel {
    @include mixins.font('section-description', 'bold');
    color: colors.$black-main;
  }
}

.reviewComment {
  width: 100%;
  text-align: left !important;
  display: block;

  label {
    @include mixins.font('section-description', 'bold');
    margin-bottom: 1rem;
    color: colors.$black-main;
    font-size: 1rem;
  }

  textarea {
    min-height: 8.5rem;
    border-radius: 1.1rem;
    border: 1.5px solid colors.$magenta;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: 0 2px 10px rgba(colors.$magenta, 0.06);
    background: colors.$plain-white;
    transition: border 0.2s;
    &:focus {
      border-color: darken(colors.$magenta, 5%);
      outline: none;
      box-shadow: 0 4px 16px rgba(colors.$magenta, 0.09);
    }
  }
}

.buttonGroup {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  gap: 1.1rem;
  display: flex;
}

.btnCancel {
  background: none;
  @include mixins.font('section-description', 'regular');
  color: lighten(colors.$grey-background-elements, 20%);
  border: none;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
}

.btnSubmit {
  background: colors.$magenta;
  color: colors.$white-background;
  @include mixins.font('section-description', 'regular');
  padding: 0.7rem 1.8rem;
  border-radius: 1.7rem;
  box-shadow: 0 2px 12px rgba(colors.$magenta, 0.1);
}

.modalStack {
  :global {
    --stack-gap: 0.5rem !important;
  }
}
