@use '@/sass/abstract/colors' as colors;
@use '@/sass/abstract/mixins' as mixins;

.reviewsPage {
  background-color: colors.$white-background;
  padding: 1rem;
  min-height: 100vh;
  margin-bottom: 1rem;
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.title {
  margin: 0;
  @include mixins.font('section-title', 'bold');
  color: colors.$black-main;
  line-height: 1;
}

.sectionTitle {
  margin: 1.5rem 0 0.5rem;
  @include mixins.font('section-title', 'medium');
  color: colors.$black-main;
}

.reviewCard {
  position: relative;
  background: linear-gradient(
    to bottom,
    colors.$white-elements 0%,
    rgba(colors.$magenta, 0.2) 100%
  ) !important;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reviewCardRatingWrapper {
  position: absolute;
  top: 1.3rem;
  right: 2rem;
}

.reviewCardRating {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.author {
  @include mixins.font('section-description', 'medium');
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.reviewsSummary {
  width: 100%;
  margin: 1rem auto;
  padding: 1.5rem;
  border-radius: 8px;
  background: linear-gradient(
    to bottom,
    colors.$white-background 0%,
    rgba(colors.$magenta, 0.2) 100%
  );
  text-align: center;
}

.average {
  @include mixins.font('top-title', 'black');
  color: colors.$magenta;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.rating {
  display: inline-flex;
  margin: 0 0 0.5rem;
}

.count {
  @include mixins.font('section-description', 'regular');
  color: colors.$black-main;
  line-height: 1;
}

.reviewsAction {
  width: 100%;
  margin: 1rem auto 2rem;
  display: flex;
  justify-content: center;
}

.comment {
  @include mixins.font('body', 'regular');
}

.reviewStack {
  :global {
    --stack-gap: 1.4rem !important;
  }
}
