@use 'sass:color';
@use 'sass:map';
@use '/src/sass/abstract/colors' as *;
@use '/src/sass/abstract/typography' as *;
@use '@/sass/abstract/mixins' as mixin;

.product-detail {
  .detail-info {
    padding: 1rem;

    .mantine-Title-root {
      margin-block-end: 0.5rem;
    }

    .mantine-Badge-root {
      font-size: 0.875rem;
    }

    .mantine-Text-root {
      font-family: inherit;
      font-size: 17px;
    }

    .detail-tags {
      display: flex;
      gap: 0.5rem;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 0.5rem 0;
      margin-top: 0.9rem;
      scroll-snap-type: x mandatory;

      .detail-tag {
        @include mixin.font('text', 'regular');
        height: 2rem;
        background: linear-gradient(
          to top,
          rgba($magenta, 0.9),
          rgba($magenta, 0.08)
        );
        border: 1px solid $magenta;
        color: $white-background;
        font-weight: map.get($font-weights, medium);
        border-radius: 9999px;
        padding: 0.25rem 1rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }

    .detail-description {
      position: relative;
      background: linear-gradient(
        to top,
        rgba($light-magenta, 0.9) 0%,
        transparent 70%
      );

      border-radius: 0 0 1rem 1rem;
      padding: 1rem;
      margin-top: 1rem;

      &.expanded {
        max-height: none;
      }

      .toggle-desc-btn {
        margin-left: auto;
        margin-top: 0.2rem;
        inset-block-end: 0.5rem;
        inset-inline-end: 1rem;
      }
    }
  }
}
