@use 'sass:color';
@use '/src/sass/abstract/colors' as *;
@use '/src/sass/abstract/typography' as *;
@use '/src/sass/abstract/mixins' as *;

.product-detail {
  .detail-info {
    padding: 1rem;

    .mantine-Title-root {
      margin-block-end: 0.5rem;
    }

    .mantine-Badge-root {
      font-size: 0.875rem;
    }

    .detail-tag {
      background: linear-gradient(135deg, $magenta, $red-heart);
      color: $white-elements;
      border: none;
    }

    .detail-description {
      position: relative;
      background: linear-gradient(
        to top,
        $white-elements 80%,
        rgba($magenta, 0.2)
      );
      border-radius: 0 0 1rem 1rem;
      padding: 1rem;
      margin-top: 1rem;

      &.expanded {
        max-height: none;
      }

      .toggle-desc-btn {
        position: absolute;
        inset-block-end: 0.5rem;
        inset-inline-end: 1rem;
        color: $black-main;
      }
    }
  }
}
