@use '/src/sass/abstract/colors' as *;
@use '/src/sass/abstract/typography' as *;
@use '/src/sass/abstract/mixins' as *;

.product-detail {
  .purchase-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.75rem 1.5rem;
    z-index: 999;
    background: rgba($white-elements, 0.95);
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    box-shadow: 0 -4px 12px rgba($black-main, 0.05);

    display: flex;
    justify-content: center;
    align-items: center;

    .purchase-banner__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 30rem;
      gap: 1rem;
      padding: 1rem 0;
    }

    .purchase-banner__price {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .mantine-Text-root {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;
      }

      .mantine-Title-root {
        font-size: 1.75rem;
        font-weight: bold;
        margin-top: -0.4rem;
        line-height: 1.2;
      }
    }

    .mantine-Button-root {
      white-space: nowrap;
    }
  }
}
