@use '../../abstract/colors' as colors;
@use '../../abstract/mixins' as mixins;

.reviews-summary {
  width: 70%;
  margin: 1rem auto;
  padding: 1rem;
  background: linear-gradient(
    to bottom,
    colors.$white-background 0%,
    rgba(colors.$magenta, 0.2) 100%
  );

  .reviews-average {
    @include mixins.font('top-title', 'black');
    color: colors.$magenta;
    line-height: 1;
    margin-bottom: 0.25rem;
  }

  .reviews-count {
    @include mixins.font('section-description', 'regular');
    color: colors.$black-main;
    line-height: 1;
  }

  .mantine-Rating-root {
    .mantine-Rating-label[data-filled='false'] svg {
      fill: none !important;
      stroke: colors.$black-main !important;
      stroke-width: 1px !important;
    }
  }
}

.reviews-action {
  width: 70%;
  margin: 0 auto 2rem;
  display: flex !important;
  justify-content: flex-end !important;
}
