@use 'sass:color';
@use '/src/sass/abstract/colors' as *;
@use '/src/sass/abstract/typography' as *;
@use '/src/sass/abstract/mixins' as *;

.product-detail {
  .detail-reviews {
    padding: 1rem;

    .review-card {
      margin-block-end: 1.5rem;

      .mantine-Divider-root {
        margin: 1rem 0;
      }
    }
  }
}

/*
.reviews-summary{ 
background: linear-gradient(
  to top,
  rgba($light-magenta, 0.9) 0%, 
  transparent 70%
);
}
*/

.reviews-summary-content {
  display: flex;
  flex-direction: column; /* stack items vertically */
  align-items: center; /* center horizontally */
  text-align: center; /* center text elements */
}
