@use 'sass:color';
@use '/src/sass/abstract/colors' as *;
@use '/src/sass/abstract/typography' as *;
@use '/src/sass/abstract/mixins' as *;

.product-detail {
  .detail-tutorial {
    padding: 1rem;

    .detail-video {
      width: 100%;
      border-radius: 1rem;
      border: 2px solid $red;
      display: block;
      margin: 0 auto;
    }
  }
}
