@use '@/sass/abstract/colors' as colors;
@use '@/sass/abstract/typography' as typography;
@use '@/sass/abstract/mixins' as mixins;

.allCategoryItem {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.itemContent {
  background-color: transparent;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem 1rem;
}

.icon {
  width: 40px;
  margin-right: 0.75rem;
}

.label {
  @include mixins.font('category-title', 'bold');
  margin: 0;
  flex: 1;
}

.chevron {
  flex-shrink: 0;
  color: colors.$light-grey;
}

.divider {
  margin-bottom: 10px;
  height: 1px;
  min-height: 1px;
  background-color: colors.$light-grey;
  width: 100%;
  border: none;
  display: block;
}

.allCategoryItem:hover > .itemContent {
  background-color: lighten(colors.$white-background, 3%);
}
