@use 'sass:map';
@use '@/sass/abstract/colors' as *;
@use '@/sass/abstract/typography' as *;

.summary-page {
  background-color: $white-background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1.2rem 1.5rem;
  font-family: $font-family;
  margin-bottom: 50px;

  .back-header {
    margin-bottom: 0;
  }

  .back-icon-button {
    margin-top: 0;
  }

  .summary-top {
    h2 {
      font-size: map.get($font-sizes, 'section-title');
      font-weight: map.get($font-weights, 'bold');
      margin-bottom: 0.2rem;
      margin-top: 0.3rem;
    }

    p {
      font-size: map.get($font-sizes, 'section-description');
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .checkout-order-info {
    border-radius: 1rem;
    padding: 1.25rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    background-color: $grey-background-elements;
    color: $white-elements;
    border-radius: 1rem;

    .mantine-Divider-root {
      border-color: $white-elements;
      height: 2px;
    }

    .summary-line {
      display: flex;
      justify-content: space-between;
      font-size: 1.1rem;
      margin-top: 0.5rem;
    }

    .summary-line-total {
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      font-size: 1.1rem;
      margin-top: 1rem;
    }

    .total-text {
      font-weight: 700;
      font-size: 20px;
    }
  }

  .checkout-overview {
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;

    .section {
      background-color: $white-elements;
      border-radius: 1rem;
      padding: 1.25rem;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
      margin-bottom: 1.3rem;

      word-break: break-word;
      overflow-wrap: break-word;

      h3,
      h4 {
        margin-bottom: 0.5rem;
        font-weight: 600;
        font-family: $font-family;
      }

      .subtitle-text {
        font-weight: bold;
      }

      .info-line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
      }

      .total {
        font-weight: bold;
        font-size: 1.1rem;
      }

      .mantine-Divider-root {
        margin: 1rem 0;
        height: 2px;
      }
    }
  }
}
